<!DOCTYPE html>
<html>
<head>
  <title>PennyArcadeSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<h1>Penny Arcade Searcher!</h1>

<%= yield %>

<footer>
	<h6>Page created by <a href="https://github.com/NickDamiano">Nick Damiano</a></h6>

</footer>
</body>
</html>
